@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

$red-100: #FBF2F2;
$red-200: #AA0601;
$red-300: #650300;
$white:   #ffffff;
$gray:    #707070;
$black:   #000000;

@import "utilities";

@import "header";
@import "footer";
@import "button";
@import "breadcrumb";
@import "pagination";

@import "index";
@import "product";
@import "store";
@import "blog";
@import "faq";
